@media screen and (max-width:1024px) and (min-width:410px){
    body{
        background: none;
    }
    .team{
        max-width: 100%;
        border:none;
        padding: 0;
    }
    
}

@media screen and (max-width:410px) {
    body{
        background: none;
    }
    .team{
        max-width: 100%;
        border:none;
        padding: 0;
    }
    .t-cont{
        width: auto;
        height: auto;
    }
    .t-cont a{
        flex-direction: column;
    }

    .cat-1{
        width: fit-content;
        align-self: center;
    }
    .cat-2{
        text-align: center;
        margin:5px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .players{
        margin:10px;
        flex-direction: column;
    }
    .btn{
        margin:10px 0px;
    }
}