@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Change these root variables to change the color and fonts */
:root{
    --main-bg: brown;
    --second-bg-color: rgb(238, 232, 232);
    --text-color-1:white;
    --shadow-color: rgb(165, 128, 128);
    --font-m: 'Roboto', sans-serif;
}

body{
    font-family: var(--font-m);
    background-color: var(--second-bg-color);
}

#teams{
    display: flex;
}

#players{
    display: none;
}

.team{
    max-width: 80vw;
    margin:auto;
    border: 1px solid var(--second-bg-color);
    border-radius: 60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: white;
    padding: 40px 0px;
    /* margin-top: 40px; */
    margin-bottom: 80px;
}

.t-cont{
    width:400px;
    height: 300px;
    border:0px solid var(--main-bg);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin:30px 30px;
    background-color: var(--second-bg-color);
    box-shadow: 10px 10px var(--shadow-color);
}

.t-cont a{
    /* border-bottom:6px solid var(--main-bg); */
    border-radius: 40px;
    display:flex;
    text-decoration: none;
    color: var(--main-bg);
}

.cat-1{
    width: 50%;
    padding: 0;
}

.cat-1 img{
    width:150px;
    height:200px;
    border-radius: 40px;
    padding-top: 6px;
    padding-left: 6px;
}

.cat-2{
    margin: -1px 5px;
    padding-left: 10px;
    padding-top: 10px;
}

.cat-2 h3{
    font-weight: 800;
    padding: 10px 0;
}

.cat-2 p,span{
    font-size:smaller;
    padding: 10px 0;
}

.players{
    display: flex;
    flex-basis:30%;
    justify-content: space-evenly;
    background-color: var(--second-bg-color);
    margin: 0;
    align-items: center;
    border-radius: 40px;
}

.btn{
    height:40px;
    width: 150px;
    border: 1px solid var(--second-bg-color);
    background-color: var(--main-bg);
    color: var(--second-bg-color);
    font-weight: bolder;
    font-size:medium;
    cursor: pointer;
    border-radius:10px
}

.btn:hover, .active{
    /* border:2px solid var(--main-bg); */
    background-color: white;
    color:var(--main-bg)

}

.pagenav{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

